{% extends 'events/base.html' %}

{% block content %}
    <center>
        <h1>Venues</h1>
        <br>

<style>
    #Venues {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    #Venues td, #Venues th {
      border: 1px solid #ddd;
      padding: 8px;
      align="center"
    }
    
    #Venues tr:nth-child(even){background-color: #f2f2f2;}
    
    #Venues tr:hover {background-color: #ddd;}
    
    #Venues th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #5F9EA0;
      color: White;
    }
    </style>

    <table id="Venues">
        <tr align="center">
          <th >Venue Name</th>
          <th >Update Venue</th>
          <th >Delete Venue</th>

        </tr>
        {% for venue in venues_list %}
        <tr>
          <td><strong><a href="{% url 'show-venue' venue.id %}">{{venue}}</a></strong></td>
          <td align="right"><a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a></td>
          <td align="right"><a href="{% url 'delete-venue' venue.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        {% endfor %}
      </table>




    </center>
<hr><br><br>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

{% if venues_list.has_previous %}
  <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
  <li class="page-item"><a class="page-link" href="?page={{venues_list.previous_page_number}}"> Previous</a></li>
{% endif %}

<li class="page-item disabled"><a class="page-link" href="?page={{venues_list.number}}"> Page {{venues_list.number}} of {{venues_list.paginator.num_pages}}</a></li>

{% if  venues_list.has_next%}
  <li class="page-item"><a class="page-link" href="?page={{venues_list.next_page_number}}"> Next</a></li>
  <li class="page-item"><a class="page-link" href="?page={{venues_list.paginator.num_pages}}"> Last &raquo </a></li>
{% endif %}

</ul>
</nav>


{% endblock content %}